.about {
  width: 100%;
  min-height: 100vh;
  background-color: #303030;
  margin-top: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  width: 50%;
  height: 70vh;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1.5px;
  line-height: 1.5;
  position: relative;
  margin-top: 4rem;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.7s both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

.image {
  width: 150px;
  border-radius: 50%;
}

.open,
.close {
  color: #2196f3;
  font-weight: 700;
  margin: 1rem;
}

.hide {
  display: none;
}

.link {
  color: #2196f3;
}

.link:hover {
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .content {
    width: 60%;
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    width: 70%;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .content {
    height: 80vh;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    line-height: 1.2;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .content {
    font-size: 1.1rem;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
